/*сброс стилей*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/*подключение шрифтов*/
@font-face {
	font-family: BrandonGrotesque;
	src: url(./font/BrandonGrotesque-Regular.ttf);
}
.all { font-family: BrandonGrotesque;  } /* чтоб везде не писать фонт-фемили*/

.banner {padding-top: 50px;
	background-image: url(./img/banner.png); background-repeat: no-repeat;
	background-size: cover;padding-bottom: 125px;
}
header { margin-bottom: 155px;}


.list-inline a {text-decoration: none; color: #fff; font-size:18px; }

  
.banner p { margin-bottom: 35px; color: #fff; font-size: 32px;}
.banner h1 {  font-size: 66px; margin-bottom: 80px;
  
  color: rgb(255, 255, 255);
  font-weight: bold;
  } 

 .banner button { border: solid 2px #fff; border-radius: 2px; padding: 20px 68px 24px 68px; 
	 background: transparent; cursor: pointer;
     color: #fff; font-size:18px; text-align: center;
 }
 button:hover {background-color: #708090; opacity: 0.7;}
  /* конец секции с красивой картинкой*/
/*секция web development*/
.webdev  { padding-top: 102px; padding-bottom: 65px;}
.webdev h2 {font-size: 60px; margin-bottom: 35px;}
.bold {font-weight: bolder;}
.webdev p { font-size: 18px; color: rgb(119, 119, 119); margin-bottom: 37px;}
.text1 { margin: 0 auto;}
.img1 {  margin-left: 50px; margin-top:50px;}
/*конец web development*/
/*секция identity branding*/
.ident {background: #fafafa; padding-top: 102px; padding-bottom: 65px; }
.ident h2 {font-size: 60px; margin-bottom: 35px;}
.ident p { font-size: 18px; color: rgb(119, 119, 119);margin-bottom: 37px;}

.img2 {margin-top: 50px;  }
/*конец секции identity branding*/
/*секция list*/
.list { padding-top: 102px;padding-bottom: 60px; }
.list h3 {width: 65%; margin: 0 auto; font-size: 22px; margin-bottom:10px; }
.list p {font-size: 18px;color: rgb(119, 119, 119); margin-bottom:37px; }
.list li {margin-bottom: 40px;}
.list img { float: left; margin-right: 15px; margin-bottom: 20px;}


/* конец list*/
/*секция awesome clients*/
.clients { background: #fafafa; padding-top: 102px; padding-bottom:110px; }
.clients h2 {font-size: 60px;color: rgb(34, 34, 34); text-align: center; margin-bottom: 20px;}
.clients p {font-size: 22px;color: rgb(119, 119, 119);text-align: center; margin-bottom: 47px;}

.quote1 { margin-top: 30px; margin-bottom: 20px;
border: 1px solid #DCDCDC; background: #fff; }
.quote1 q { quotes: "\201c" "\201d" ; font-size: 20px;
  color: rgb(119, 119, 119); text-align: left;}
.quote1 p {font-size: 18px; color: rgb(118, 144, 197); margin-bottom: 0px;width: 80%; 
	text-align: left; padding: 40px 70px;}


.quote2 { margin-top: 40px; margin-bottom: 20px;
border: 1px solid #DCDCDC; background: #fff; }
.quote2 q { quotes: "\201c" "\201d" ; font-size: 20px; 
  color: rgb(119, 119, 119); text-align: left;}
.quote2 p {font-size: 18px; color: rgb(118, 144, 197); margin-bottom: 0px;width: 80%; 
	text-align: left; padding: 40px 70px;}

 /*конец секции awesome clients*/ 
/* секция logos*/
.logos { padding-top: 55px; padding-bottom: 55px;}
.logos img { margin-left: 45px; } 
/* конец logos*/
/*секция team*/
.team {background: #111111;  color: #fff; 
	padding-top: 102px; padding-bottom: 60px;}
.team h2 {font-size: 60px; margin-bottom: 10px;}
.team p {font-size: 22px; color: rgb(119, 119, 119); margin-bottom: 60px;}
.team img  {background: #111111; padding-bottom: 20px; }
.team span {font-weight: bold;}
.team figure {margin-bottom: 10px;}

.uku {  margin-bottom: 45px;}
.p { font-size: 20px; color: rgb(235, 235, 235);}
.team .fa-twitter {background: #00aced; padding: 10px 12px 10px 11px; border-radius: 50%;}
.team .fa-facebook {background: #3b5998; padding: 11px 14px 10px 15px; border-radius: 50%;}
.team .fa-pinterest-p {background: #cb201e; padding: 11px 12px 9px 12px; border-radius: 50%;}
.team .fa-google-plus {background: #d95232; padding: 10px 7px 10px 8px; border-radius: 50%}
/*конец секции team*/
/*секция say*/
.say {height: auto; background: #7690c5; padding-top: 100px; padding-bottom: 70px; color: #fff; }

.col-md-5 h2 {font-size: 60px; margin-bottom: 17px;}
.hello p {margin-bottom: 47px; line-height: 1.2; font-size: 18px;}
.hello ul {display: inline-block; float: left; background: #7690c5; margin-right: 60px;}
.hello li {margin-bottom: 40px;}
form 
input {width: 100%; max-width: 406px; height: 50px; border-radius: 3px; 
	margin-bottom: 30px; padding-left: 20px;}
textarea {width: 100%; max-width: 406px; height: 210px; border-radius: 3px;
	padding-left: 20px; padding-top: 15px;
font-family: "BrandonGrotesque";font-size: 18px;}
i {padding-right: 10px;}
.footer {background: #7690c5; }
footer {color: #fff; font-size: 16px; padding-top: 30px; padding-bottom: 30px;
	border-top:solid 2px #87a0d2;  }



